<a href="https://colab.research.google.com/github/karthik14101/OOPs-Lab-assignments/blob/main/Chippagiri_Karthik_20bcs036_OOPTask2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class circle:
  def __init__(self,radius):
    self.radius=radius
    self.cond = 1 if self.radius>=0 else 0

  def area(self):
    if self.cond!=0:
      return 3.14*radius*radius
    else:
      return "invalid"
  
  def perimeter(self):
    if self.cond!=0:
      return 2*3.14*self.radius
    else:
      return "Invalid"


  radius=float(input("Enter the radius of circle:"))
  circle1 = circle(radius)
  print("Area of circle:",circle1.area())
  print("Circumference of circle:",circle1.perimeter())

Enter the radius of circle:5
Area of circle: 113.03999999999999
Circumference of circle: 31.400000000000002

In [ ]:
class teacher:
  def __init__(self,name,empid,branch,sal):
    self.name=name
    self.empid=empid
    self.branch=branch
    self.sal=sal
 
  def view_details(self):
    print("employee id    :",self.empid.upper())
    print("Employee name  :",self.name.capitalize())
    print("Employee Branch:",self.branch)
    print("Employee Salary:",self.sal)
  
def take_details():
  detail=input("enter the employee details with a ',' to seperate them(name,id,branch,salary)")
  details=detail.split(',')
  details[3]==int(details[3])
  return teacher(details[0],details[1],details[2],details[3])

teachers=[];
for i in range(5):
  k=take_details()
  teachers.append(k)
for i in range(5):
  print("\nemployee",i,"details:")
  teachers[i].view_details()
  print("\n")

enter the employee details with a ',' to seperate them(name,id,branch,salary)Raviteja,2628,CSE,50000
enter the employee details with a ',' to seperate them(name,id,branch,salary)Rakesh,2698,ECE,80000
enter the employee details with a ',' to seperate them(name,id,branch,salary)Mahesh,2643,CSE,60000
enter the employee details with a ',' to seperate them(name,id,branch,salary)Mahadhan,2578,EEE,70000
enter the employee details with a ',' to seperate them(name,id,branch,salary)Padma,2357,ECE,90000

employee 0 details:
employee id    : 2628
Employee name  : Raviteja
Employee Branch: CSE
Employee Salary: 50000



employee 1 details:
employee id    : 2698
Employee name  : Rakesh
Employee Branch: ECE
Employee Salary: 80000



employee 2 details:
employee id    : 2643
Employee name  : Mahesh
Employee Branch: CSE
Employee Salary: 60000



employee 3 details:
employee id    : 2578
Employee name  : Mahadhan
Employee Branch: EEE
Employee Salary: 70000



employee 4 details:
employee id    : 2357
Employee name  : Padma
Employee Branch: ECE
Employee Salary: 90000

In [ ]:
class bank:
  def __init__(self,accNo,name):
    self.accNo=accNo
    self.name=name
    self.amt=80000
    self.depAmt=0
    self.witAmt=0 
  
  def deposit(self):
    self.depAmt=float(input("enter the amount ot deposit:"))
    self.amt += self.depAmt
    return self.amt,self.depAmt
  
  def withdraw(self):
    self.witAmt=float(input("Enter the amount to withdraw:"))
    if self.amt-self.witAmt>100:
      self.amt-=self.witAmt
      return self.amt,self.witAmt
    else:
      return "requested amount cant be given due to low balance"
  
  def checkBalance(self):
    return self.amt
  
  def dispAccDetails(self):
    accDetails=[self.accNo,self.name,self.amt,self.depAmt,self.witAmt]
    print(f'\nAccount number:{accDetails[0]}\naccount holder name:{accDetails[1]}\namount:{accDetails[2]}\nlast debit:{accDetails[3]}\nlast credit:{accDetails[4]}\n')

def take_details(bankers):
  detail=input("Enter your detais with a ',' to seperate them(Acc No,Name)")
  details=detail.split(',')
  bankers[details[0]]=details[1]
  return bank(details[0],details[1])

def userchoice(obj):
  i=1
  while i<6 and i>0:
    i=int(input("\nEnter Your Choice:\t1.Deposit\t2.Withdraw\t3.Check balance\t4.Display details\t5.Quit\t:"))
    if i==1:
      k=obj.deposit()
      print(f'\nMoney deposited:{k[1]}.\nBalance:{k[0]}')
    elif i==2:
      k=obj.withdraw()
      if type(k[0])==float:
        print(f'\nMoney withdrawn:{k[1]}.\nBalance:{k[0]}')
      else:
        print(k)
    elif i==3:
      print("\nBank Balance:",obj.checkBalance())
    elif i==4:
      obj.dispAccDetails()
    elif i==5:
      break 
    else:
      print("Wrong choice.\nProgram Terminated")
      break

bankers={}
banker1=take_details(bankers)
userchoice(banker1)
print(bankers)

Enter your detais with a ',' to seperate them(Acc No,Name)1934038030,Karthik

Enter Your Choice:	1.Deposit	2.Withdraw	3.Check balance	4.Display details	5.Quit	:2
Enter the amount to withdraw:50000

Money withdrawn:50000.0.
Balance:30000.0

Enter Your Choice:	1.Deposit	2.Withdraw	3.Check balance	4.Display details	5.Quit	:5
{'1934038030': 'Karthik'}

In [ ]:
class student:
  def __init__(self,name,rollno,*marks):
    self.name=name.capitalize()
    self.rollno=rollno
    self.marks=marks
  
  def showdetails(self):
    total=0
    for i in self.marks:
      i=float(i)
      total+=i
    print(f'NAME       :{self.name}\nROLLNO     :{self.rollno}\nphy marks  :{self.marks[0]}\nmaths marks:{self.marks[1]}\nchem marks :{self.marks[2]}\nTotal      :{total}')

def take_details():
  detail=input("Enter the student details(name,rollno,phymarks,matmarks,chemmarks)").split(',')
  return student(detail[0],detail[1],detail[2],detail[3],detail[4])

mark_list={}
students=[]

for i in range(3):
  k=take_details()  
  students.append(k)
  mark_list[k.name]=k.marks
print("\nStudent details:\n")

for i in range(3):
  print("Student",i+1,"details:")
  students[i].showdetails()
  print("\n")

print(mark_list)

Enter the student details(name,rollno,phymarks,matmarks,chemmarks)Karthik,740,90,94,98
Enter the student details(name,rollno,phymarks,matmarks,chemmarks)Raviteja,780,80,89,95
Enter the student details(name,rollno,phymarks,matmarks,chemmarks)Raju,790,70,78,90

Student details:

Student 1 details:
NAME       :Karthik
ROLLNO     :740
phy marks  :90
maths marks:94
chem marks :98
Total      :282.0


Student 2 details:
NAME       :Raviteja
ROLLNO     :780
phy marks  :80
maths marks:89
chem marks :95
Total      :264.0


Student 3 details:
NAME       :Raju
ROLLNO     :790
phy marks  :70
maths marks:78
chem marks :90
Total      :238.0


{'Karthik': ('90', '94', '98'), 'Raviteja': ('80', '89', '95'), 'Raju': ('70', '78', '90')}

In [ ]:
class hospital:
  c1 , c2 = 0 , 0
  def __init__(self,name):
    self.name = name
    list_of_symptoms = []
    date_of_admission = input("Enter the date of admission :")
    n = int(input("Enter the  number of symptoms : "))
    for i in range(0,n):
      symptom = input()
      list_of_symptoms.append(symptom)
    oxygen_level = input("Enter oxygen level : ")
    if oxygen_level < "90":
      print("Oxygen mask is required")
      hospital.c1 = hospital.c1 + 1
    else:
      print("Normal observation")
      hospital.c2 = hospital.c2 + 1
  def display(self):
    print("Number of patients who need oxygen support : " ,hospital.c1)
    print("Number of patients in observation : " ,hospital.c2)
    print("Total number of patients : ",hospital.c1+hospital.c2)

a1 = hospital("Global hospital")
a2 = hospital("Raviteja hospital")
a3 = hospital("Saveera hospital")
a4 = hospital("Narayana hospital")
a1.display()

Enter the date of admission :13-09-2021
Enter the  number of symptoms : 3
Cold
Fever
Vomitings
Enter oxygen level : 95
Normal observation
Enter the date of admission :14-09-2021
Enter the  number of symptoms : 2
Loose motions
Fever
Enter oxygen level : 86
Oxygen mask is required
Enter the date of admission :12-09-2021
Enter the  number of symptoms : 1
Fever
Enter oxygen level : 98
Normal observation
Enter the date of admission :16-09-2021
Enter the  number of symptoms : 2
Fever
Motions
Enter oxygen level : 80
Oxygen mask is required
Number of patients who need oxygen support :  2
Number of patients in observation :  2
Total number of patients :  4

In [ ]:
class time:
  def __init__(self):
    self.seconds,self.hours,self.minutes=0,0,0
  
  def __init__(self,seconds,minutes,hours):
    self.seconds=seconds
    self.minutes=minutes
    self.hours=hours

  def display(self):
    print(f'Given time:{self.hours}:{self.minutes}:{self.seconds}')

k=input("Enter the time(hh:mm:ss)").split(":")
m=[int(x) for x in k]
obj1=time(m[2],m[1],m[0])
obj1.display()

Enter the time(hh:mm:ss)09:30:13
Given time:9:30:13

In [ ]:
class student:
  def __init__(self,name,rollno,age):
    self.name=name
    self.age=age
    self.rollno=rollno
  
  def compare(self,s2):
    if self.age==s2.age:
      return True
    return False

def takedetails():
  k=input("Enter the student details(name,rollno,age)").split(',')
  return student(k[0],k[1],k[2])


for i in range(1):
  std1=takedetails()
  std2=takedetails()
  k=std1.compare(std2)
  if k==True:
    print('Both are Equal')  
  else:
    print('Ages are not equal')

Enter the student details(name,rollno,age)Karthik,123,19
Enter the student details(name,rollno,age)Raviteja,134,18
Ages are not equal

In [ ]:
class student:
  institute='IIIT Dharwad'
  sem = 3
  def __init__(self,name,usn):
    self.name=name
    self.usn=usn
  
  def showinstance(self):
    print(f'student name:{self.name}\nRoll No:{self.usn}')

  @classmethod
  def showclsvar(cls):
    print(f'Sem:{student.sem}\nInstitute{student.institute}')
  
k=student("Karthik",36)
k.showinstance()
k.showclsvar()

student name:Karthik
Roll No:36
Sem:3
InstituteIIIT Dharwad

In [ ]:
class student:
  def __init__(self,name,rollno,sem):
    self.name=name
    self.rollno,self.sem=rollno,sem
  class laptop:                                                                                               
    def __init__(self):
      self.cpu='0'
      self.ram=0
      self.storage=''
      self.company=''
      self.gpu=''
    def specs(self):
      spec_list=input("Enter laptop specification(company,cpu,ram,hdd+ssd,gpu)").split(",")
      self.cpu=spec_list[1]
      self.ram=int(spec_list[2])
      self.storage=spec_list[3]
      self.company=spec_list[0]
      self.gpu=spec_list[4]
    def displap(self):
      print(f"Company{self.company}\nCPU:{self.cpu}\nGPU:{self.gpu}\nRAM:{self.ram}gb\nSTORAGE:{self.storage}")

  def dispstd(self):
    print("\nSTUDENT DETAILS:")
    print("student name  :",self.name)
    print("student rollno:",self.rollno)
    print("student sem   :",self.sem)
  
def addlap(obj):
  a=int(input("Enter your choice:\n1:add laptop\t2:quit-->"))
  laptops=[]
  while a==1:
    k=obj.laptop()
    k.specs()
    laptops.append(k)
    a=int(input("Enter your choice:\n1:add laptop\t2:quit-->"))
  return laptops

def display(laptops):
  print("\nstudent laptops' specifications:")
  t=1
  for i in laptops:
    print("\nLaptop",t,"details:")
    i.displap()
    t+=1

k1=input("Enter STUDENT DETAILS(name,rollno,sem)").split(',')
std1=student(k1[0],k1[1],k1[2])
laptops=addlap(std1)
std1.dispstd()
display(laptops)

Enter STUDENT DETAILS(name,rollno,sem)Karthik,36,3
Enter your choice:
1:add laptop	2:quit-->1
Enter laptop specification(company,cpu,ram,hdd+ssd,gpu)INTEL,i3,8,1,ABC
Enter your choice:
1:add laptop	2:quit-->2

STUDENT DETAILS:
student name  : Karthik
student rollno: 36
student sem   : 3

student laptops' specifications:

Laptop 1 details:
CompanyINTEL
CPU:i3
GPU:ABC
RAM:8gb
STORAGE:1